     <%= form_tag  %>
<form method="post" action="/add_tag" class="pull-left">

  <input class="pull-left" type="text" placeholder="name"> <br>
  <input class="pull-left" type="file" title="image(100x66 preferred)"><br>
  <input class="pull-left" type="submit" value="add" style="width: 100%">
</form>