<input type="search" placeholder="search">
<div>Tags:
  <% @all_tags.size %></div>
<div class="tag-listing-wrapper">
  <% for tag in @all_tags %>
      <div class="announces-list-element">
        <div class="list-element-text inline-block"><a href="#search-all-with-this-tag">sport</a></div>
        <div class="inline-block" style="width: 10pt"></div>
        <div class="pull-right control-block-size inline-block">
          <a href="tag/delete/12"><img class="selectable-image" src="img/delete-64.png"
                                       alt="Editing" title="Disable it and move to trash folder"></a>
        </div>
        <div class="pull-right control-block-size inline-block">
          <a href="edit/?id=12"><img class="selectable-image" src="img/edit_property-64.png"
                                     alt="Editing" title="Change this announce"></a>
        </div>
        <div class="pull-right date ">30/06/2013 - 19:00</div>
      </div>
  <% end %>
</div>