.optional {
    width: 100%;
    height: 100%;

}

.visible-r {
    visibility: visible;
}

.hidden-r {
    visibility: hidden;
    display: none;
}

.hover {
    cursor: pointer;
}

.rotate-me {
    height: 20pt;
    width: 20pt;
    position: relative;
    float: left;
    left: 5pt;
    top: 5pt;

}

.rotate-me:hover {
    cursor: pointer;
}