<fieldset>
  <legend>tags</legend>
  <div class="margin-left-5pt">
    <% 3.times do |pos| %>
        <% index = pos+1 %>
        <label>#<%= index %><select name="tags[<%= index %>]">
          <option value="-1">----</option>
          <% for tag in @tags %>
              <option value="<%= tag.id %>"><%= t(tag.rewrite) %></option>
          <% end %>
          </select>
        </label>
    <% end %>
  </div>
  <br>
</fieldset>