<div class="content-part" id="announce-part">
  <div class="black" style="margin-bottom: 10pt;">New</div>


  <div class="new-item-description">


    <form method="post" action="<%= c_add_path %>" style="text-align: left;" enctype="multipart/form-data">
      <input type="submit"
             class="btn-success height-middle wight-middle pull-right action-publish unavailable red-placeholder"
             id="btn-publish" value="PUBLISH">
      <input type="text" name="announce[title]" id="new-item-title" oninput="tracker(this)"
             placeholder="Title(customers will see this first)">
      <input name="announce[date]" type="datetime" class="datepicker hasDatepicker" title="Starting"
             placeholder="Date ( 26/01/2013 )">

      <textarea name="announce[desc]" class="sub-desc" placeholder="Small header description"></textarea>
      <br>
      <input name="announce[image]" type="file" title="Image"/>

      <div id="desc-bot-border"></div>
    </form>
  </div>

</div>