<div class="content-part" id="statistic-part" style="text-align: left;">
  <div class="black"></div>

  <table class="table-bordered black" id="st_id" role="columnheader"
         style="width: 100%; background: #ffffff; text-align: center">
    <thead>
    <tr role="row">
      <td class="sort_available">#</td>
      <td class="sort_available">Title</td>
      <td class="sort_available">Creation date</td>
      <td class="sort_available">Views count</td>
    </tr>
    </thead>
    <tr>
      <td>1</td>
      <td>dasdasdas</td>
      <td>asd asd</td>
      <td>asdas das</td>
    </tr>
    <tr>
      <td>2</td>
      <td>1134</td>
      <td>add</td>
      <td>,hb,bb,vhj</td>
    </tr>
    <tr>
      <td>3</td>
      <td>qewqeqw</td>
      <td>adaxcz</td>
      <td>11111</td>
    </tr>
    <tr>
      <td>4</td>
      <td>a</td>
      <td>a</td>
      <td>a</td>
    </tr>
  </table>

</div>