body {
    text-align: center;
    margin-top: 5%;
}

.inline-block {
    display: inline-block;
    vertical-align: top;
}

.image-gold-size-with_minus_margin {
    width: 200pt;
    height: 133pt;
    margin-top: -30pt;
    z-index: 1;

}

.image-gold-size {
    width: 200pt;
    height: 133pt;
    z-index: 1;
}

.amazing-style {
    display: block;
    -webkit-margin-before: 0.5em;
    -webkit-margin-after: 0.5em;
    -webkit-margin-start: auto;
    -webkit-margin-end: auto;
    border-style: inset;
    border-width: 1px;
    margin-top: 50pt;
}

.bordered {
    box-shadow: 0 0 1pt 1pt #000000;
}

.fill-all {
    height: 100%;
    width: 100%;
}

.border-black {
    box-shadow: 0 0 1pt 1pt #000000;

}

.border-white {
    box-shadow: 0 0 1pt 1pt #ffffff;

}

.low-margin {
    margin: 10pt 0;
}

.wight-100 {
    width: 100%;
}

.padding-bot-middle {
    padding-bottom: 10pt;
}

.wight-250 {
    width: 250pt;
}

.wight-300 {
    width: 300pt;

}

.margin-bot-middle {
    margin-bottom: 10pt !important;
}

.selectable-image {
}

.pseudo-link {
    cursor: pointer;
}

.image-gold-size-with_minus_margin {
    width: 200pt;
    height: 133pt;
    margin-top: -30pt;
    z-index: 1;

}

.no-link-style {
    text-decoration: none;
    color: #ffffff;
}

.no-link-style:hover {
    text-decoration: none;
    color: #ffffff;
}

.padding-left-middle {
    padding-left: 15pt;
}

.wight-100p {
    width: 100pt;
}

.wight-95 {
    width: 95%;
}

.crackable:hover {
    cursor: pointer;

}

.footer-info {
    text-align: center;
    margin: 0 auto;
    vertical-align: bottom;

}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.align-center {
    text-align: center;
}

.news {
    height: auto;
    width: 300pt;
    min-width: 200pt;
    margin-top: 40pt;

}

.wight-70pc {
    width: 70%;
}

.vertical {
    vertical-align: middle;
}

.vertical {
    vertical-align: middle;
}

.style-tag {
    padding: 5pt;
    color: #000000;
}

.style-tag:hover {
    background-color: #000000;
    color: #ffffff;
}

.padding-right-middle {
    padding-right: 10pt;
}

.padding-right-big {
    padding-right: 20pt;

}

.fixed-size-50pt {
    width: 50pt;
}

.gray-header {
    background-color: lightgray;
    padding-left: 10pt;
}