<div class="footer-info">
  <div style="padding-right:10pt " class="left-box inline-block align-left">
    <div class="inline-block"><a href="/about_us.html">About us</a></div>
    |
    <div class="inline-block"><a href="#price">Price</a></div>
    |
    <div class="inline-block"><a href="/navigation/display">Navigation</a></div>

  </div>
  <br>

  <div class="right-box inline-block align-right">
    <div class="inline-block"><img src="img/contacts.png" style="height: 30pt;width: 30pt"></div>
    <div class="inline-block"><a href="mailto:nazymko.patronus@gmail.com?Subject=Feedback">Feedback</a>
    </div>
    |
    <div class="inline-block"><a href="mailto:nazymko.patronus@gmail.com?Subject=Other question">Any question </a>
    </div>
  </div>


</div>