<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <form class="navbar-search pull-left padding-left-middle">
      <input type="text" class="search-query" placeholder="Search">
    </form>
    <div class="container">
      <div class="nav-collapse">
        <ul class="nav">


          <% if session[:role]=='admin' %>
              <li><a class="nav-link" href="/admin">Admin</a></li>
              <li><a class="nav-link" href="/">Feed</a></li>
              <li><a class="nav-link" href="/tag">Tags</a></li>
              <li><a class="nav-link" href="logout" role="link">logout</a></li>
          <% else %>
              <li><a class="nav-link" href="/">Feed</a></li>
              <li><a class="nav-link" href="/tag">Tags</a></li>
              <li><a class="nav-link pull-right" href="#login" role="button" data-toggle="modal">login</a></li>
          <% end %>
        </ul>
      </div>

      <!--<div class="container pull-right">-->
        <!--<div class="nav-collapse">-->
          <!--<ul class="nav">-->
            <!--<% if (session[:role]=='admin') %>-->
                <!--<li><a class="nav-link" href="logout" role="link">logout</a></li>-->
            <!--<% else %>-->
                <!--<li><a class="nav-link pull-right" href="#login" role="button" data-toggle="modal">login</a></li>-->
            <!--<% end %>-->
          <!--</ul>-->
        <!--</div>-->
      <!--</div>-->
    </div>
  </div>
</div>
<!--Modal frame for login-->
<div id="login" class="modal hide fade wight-300">
  <button type="button" class="close" style="padding-right: 5pt;padding-top: 5pt" data-dismiss="modal"
          aria-hidden="true">X
  </button>
  <div class="modal-header">
    <h2>Login</h2>
  </div>
  <div class="modal-body wight-250">
    <div>
      <form class="form-inline" method="post" action="login">

        <input name="login" class="wight-100 margin-bot-middle" type="text" placeholder="login(email)">
        <input name="password" class="wight-100 margin-bot-middle" type="password" placeholder="password">
        <input type="submit" value="Log In" class="btn-link"> or <a href="registration.html"
                                                                    class="btn-link">register</a>
      </form>
    </div>
  </div>
</div>
