<div class="search-page-news-item paper-block">
    <div class="inline-block news-search-image-block">
      <a href="<%=  news_view_path :rewrite => news.rewrite, :id => news.id   %>"><img class="inline-block" src="<%= news.image_url :thumb %>"></a>
    </div>
    <div class="news-block inline-block ">
      <div>
        <h4 class="inline-block"><a href="#"><%= news.content %></a></h4>

      </div><%= news.content %></div>

  </div>