<div class="news-item">
  <h3><%= item.title_feed %></h3>

  <div class="vertical">
    <div class="inline-block"><img src="<%= item.image %>" class="news-image inline-block"></div>
    <div class="article-short ">
      <a class="" href="#news/32"><%= item.short_desc %></a>
    </div>

  </div>
  <hr>
</div>