<div class="news inline-block">
  <% unless @news.nil? %>
      <% for item in @news %>
          <div class="news-item">
            <h3><%= @stringUtil.new.words_limit(item.title, 30) %></h3>

            <div class="vertical">
              <div class="inline-block"><img src="<%= item.image %>" class="news-image inline-block"></div>
              <div class="article-short inline-block">
                <a class="inline-block" href="#news/32"><%= item.short_info %></a>
              </div>

            </div>
            <hr>
          </div>
      <% end %>
  <% end %>
</div>