<div class="news inline-block">
  <div class="news-item">
    <h3>Sales in FoxMart</h3>

    <div class="vertical">
      <div class="inline-block"><img src="img/contacts.png" class="news-image inline-block"></div>
      <div class="article-short inline-block"><a class="inline-block" href="#news/32">A sale is the act of selling
        a product or
        service in
        return for money or
        other compensation.</a>
      </div>


    </div>
    <hr>
  </div>
  <div class="news-item">
    <h3>MackDonald with sales</h3>

    <div class="vertical">
      <div class="inline-block"><img src="img/mock/dsc8890.jpg" class="news-image inline-block"></div>
      <div class="article-short inline-block"><a class="inline-block" href="#news/32">A sale is the act of selling
        a product or
        service in
        return for money or
        other compensation.</a>
      </div>


    </div>
    <hr>
  </div>
</div>