<div class="search-page-news-list">
  <h3 class="gray-header"><%= item.title_feed %></h3>

  <div class="vertical">
    <div class="inline-block"><img src="<%= item.image_url :thumb %>" class="news-image inline-block"></div>
    <div class="article-short ">
      <a class="" href="<%= news_view_path :rewrite => item.rewrite, :id => item.id %>"><%= item.short_desc %></a>
    </div>

  </div>
  <hr>
</div>