<div class="news inline-block">
  <% unless @news.nil? %>
      <% for item in @news %>
          <%= render 'root/block', :item => item %>
      <% end %>
  <% end %>

  <%= render 'root/adsense'  %>
</div>