
  <div class="search-item-wrapper paper-block">
    <div class="inline-block search-image-block"><img class="inline-block" src="<%= announce.image_url :thumb %>"></div>
    <div class="content inline-block ">
      <div><h4 class="inline-block">
        <%= link_to announce.title_feed, announce_view_path(:rewrite => announce.rewrite, :id => announce.id), :target => '_blank', :title => t('announce.view.title', :title => announce.title) %>
      </h4>
        <div class="inline-block pull-right bg-payment-not-required"> price free</div>
      </div>
     <%= announce.desc %>
      <div class="bottom-stats">
        <div class="inline-block bottom-panel-for-nav"><a href="#">Ідуть:23</a></div>
        <div class="inline-block bottom-panel-for-nav"><a href="#">Підуть в компанії:7</a></div>
        <div class="inline-block bottom-panel-for-nav"><a href="#">Назва місця</a></div>
        <div class="inline-block bottom-panel-for-nav"><a href="#">twitter,fb,vk</a></div>
        <div class="inline-block bottom-panel-for-nav pull-right"><a href="#"><img
        src="/images/comments.png"> - 7</a></div>
      </div>
    </div>

  </div>