<div class="page-root">
  <div class="inline-block wight-70pc">
    <div class="breadcrumb-new"><a href="/">Most popular</a>> <a href="/tags">tags</a></div>
    <div id="announce-list">
      <% for item in @tags do %>
          <div class="tag-wrapper">
            <div class="tag-header"><a href="/tag/<%= item.name %>" class="no-link-style"><%= item.name %></a></div>
            <img class="image-gold-size-with_minus_margin" src="<%= item.image %>">

            <div class="bot-header-tag-panel black">
              <i>17 subscribers</i>
              <i>13 announce</i>
            </div>
          </div>
      <% end %>
    </div>
  </div>
  <%= render 'root/news' %>
</div>