<div class="page-root">
  <div class="breadcrumb-new"><a href="/">Most popular</a></div>
  <div id="announce-list">
    <div class="item-wrapper">
      <div class="header"><a href="#go-to-item" class="no-link-style">Free hair styler master!</a></div>
      <img class="image-gold-size" src="img/mock/dsc8533_pp.jpg">

      <div class="bot-header-tag-panel">
        <i><a href="#?tag=health">health</a></i>
        <i><a href="index_new_style_tag.html">hair</a></i>
        <i><a href="index_new_style_tag.html">free</a></i>
      </div>
    </div>
    <div class="item-wrapper">
      <div class="header"><a href="#go-to-item" class="no-link-style">Free hair styler master!</a></div>
      <img class="image-gold-size" src="img/mock/dsc8533_pp.jpg">

      <div class="bot-header-tag-panel">
        <i><a href="index_new_style_tag.html">health</a></i>
        <i><a href="index_new_style_tag.html">hair</a></i>
        <i><a href="index_new_style_tag.html">free</a></i>
      </div>
    </div>
    <div class="item-wrapper">
      <div class="header"><a href="#go-to-item" class="no-link-style">Free hair styler master!</a></div>
      <img class="image-gold-size" src="img/mock/dsc8533_pp.jpg">

      <div class="bot-header-tag-panel">
        <i><a href="#?tag=health">health</a></i>
        <i><a href="index_new_style_tag.html">hair</a></i>
        <i><a href="index_new_style_tag.html">free</a></i>
      </div>
    </div>
    <div class="item-wrapper">
      <div class="header"><a href="#go-to-item" class="no-link-style">Free hair styler master!</a></div>
      <img class="image-gold-size" src="img/mock/dsc8533_pp.jpg">

      <div class="bot-header-tag-panel">
        <i><a href="#?tag=health">health</a></i>
        <i><a href="index_new_style_tag.html">hair</a></i>
        <i><a href="index_new_style_tag.html">free</a></i>
      </div>
    </div>
    <div class="item-wrapper">
      <div class="header"><a href="#go-to-item" class="no-link-style">Free hair styler master!</a></div>
      <img class="image-gold-size" src="img/mock/dsc8533_pp.jpg">

      <div class="bot-header-tag-panel">
        <i><a href="#?tag=health">health</a></i>
        <i><a href="index_new_style_tag.html">hair</a></i>
        <i><a href="index_new_style_tag.html">free</a></i>
      </div>
    </div>
    <div class="item-wrapper">
      <div class="header"><a href="#go-to-item" class="no-link-style">Free hair styler master!</a></div>
      <img class="image-gold-size" src="img/mock/dsc8533_pp.jpg">

      <div class="bot-header-tag-panel">
        <i><a href="#?tag=health">health</a></i>
        <i><a href="index_new_style_tag.html">hair</a></i>
        <i><a href="index_new_style_tag.html">free</a></i>
      </div>
    </div>
    <div class="item-wrapper">
      <div class="header"><a href="#go-to-item" class="no-link-style">Free hair styler master!</a></div>
      <img class="image-gold-size" src="img/mock/dsc8533_pp.jpg">

      <div class="bot-header-tag-panel">
        <i><a href="#?tag=health">health</a></i>
        <i><a href="index_new_style_tag.html">hair</a></i>
        <i><a href="index_new_style_tag.html">free</a></i>
      </div>
    </div>
    <div class="item-wrapper">
      <div class="header"><a href="#go-to-item" class="no-link-style">Free hair styler master!</a></div>
      <img class="image-gold-size" src="img/mock/dsc8533_pp.jpg">

      <div class="bot-header-tag-panel">
        <i><a href="#?tag=health">health</a></i>
        <i><a href="index_new_style_tag.html">hair</a></i>
        <i><a href="index_new_style_tag.html">free</a></i>
      </div>
    </div>


  </div>

  <div class="breadcrumb-new">
    <a href="/random">
      Some random new
    </a>
  </div>


  <div class="inline">
    <div class="item-wrapper">
      <div class="header"><a href="#go-to-item" class="no-link-style">Free hair styler master!</a></div>
      <img class="image-gold-size" src="img/mock/cOei1AE_pMI.jpg">

      <div class="bot-header-tag-panel">
        <i><a href="#?tag=health">health</a></i>
        <i><a href="index_new_style_tag.html">hair</a></i>
        <i><a href="index_new_style_tag.html">free</a></i>
      </div>
    </div>
    <div class="item-wrapper">
      <div class="header"><a href="#go-to-item" class="no-link-style">Free hair styler master!</a></div>
      <img class="image-gold-size"
           src="img/mock/800px-Tachyphonus_rufus_-Asa_Wright_Nature_Centre,_Northern_Range,_Trinidad,_Trinidad_and_Tobago_-pair-8a.jpg">

      <div class="bot-header-tag-panel">
        <i><a href="#?tag=health">health</a></i>
        <i><a href="index_new_style_tag.html">hair</a></i>
        <i><a href="index_new_style_tag.html">free</a></i>
      </div>
    </div>
    <div class="item-wrapper">
      <div class="header"><a href="#go-to-item" class="no-link-style">Free hair styler master!</a></div>
      <img class="image-gold-size"
           src="img/mock/800px-Tachyphonus_rufus_-Asa_Wright_Nature_Centre,_Northern_Range,_Trinidad,_Trinidad_and_Tobago_-pair-8a.jpg">

      <div class="bot-header-tag-panel">
        <i><a href="#?tag=health">health</a></i>
        <i><a href="index_new_style_tag.html">hair</a></i>
        <i><a href="index_new_style_tag.html">free</a></i>
      </div>
    </div>
    <div class="item-wrapper">
      <div class="header"><a href="#go-to-item" class="no-link-style">Free hair styler master!</a></div>
      <img class="image-gold-size"
           src="img/mock/800px-Tachyphonus_rufus_-Asa_Wright_Nature_Centre,_Northern_Range,_Trinidad,_Trinidad_and_Tobago_-pair-8a.jpg">

      <div class="bot-header-tag-panel">
        <i><a href="#?tag=health">health</a></i>
        <i><a href="index_new_style_tag.html">hair</a></i>
        <i><a href="index_new_style_tag.html">free</a></i>
      </div>
    </div>
    <div class="item-wrapper">
      <div class="header"><a href="#go-to-item" class="no-link-style">Free hair styler master!</a></div>
      <img class="image-gold-size"
           src="img/mock/800px-Tachyphonus_rufus_-Asa_Wright_Nature_Centre,_Northern_Range,_Trinidad,_Trinidad_and_Tobago_-pair-8a.jpg">

      <div class="bot-header-tag-panel">
        <i><a href="#?tag=health">health</a></i>
        <i><a href="index_new_style_tag.html">hair</a></i>
        <i><a href="index_new_style_tag.html">free</a></i>
      </div>
    </div>
    <div class="item-wrapper">
      <div class="header"><a href="#go-to-item" class="no-link-style">Free hair styler master!</a></div>
      <img class="image-gold-size"
           src="img/mock/800px-Tachyphonus_rufus_-Asa_Wright_Nature_Centre,_Northern_Range,_Trinidad,_Trinidad_and_Tobago_-pair-8a.jpg">

      <div class="bot-header-tag-panel">
        <i><a href="#?tag=health">health</a></i>
        <i><a href="index_new_style_tag.html">hair</a></i>
        <i><a href="index_new_style_tag.html">free</a></i>
      </div>
    </div>
    <div class="item-wrapper">
      <div class="header"><a href="#go-to-item" class="no-link-style">Free hair styler master!</a></div>
      <img class="image-gold-size"
           src="img/mock/800px-Tachyphonus_rufus_-Asa_Wright_Nature_Centre,_Northern_Range,_Trinidad,_Trinidad_and_Tobago_-pair-8a.jpg">

      <div class="bot-header-tag-panel">
        <i><a href="#?tag=health">health</a></i>
        <i><a href="index_new_style_tag.html">hair</a></i>
        <i><a href="index_new_style_tag.html">free</a></i>
      </div>
    </div>
  </div>


</div>