<div class="page-root">
  <div class="inline-block wight-70pc">
    <div class="breadcrumb-new"><a href="/">Most popular</a></div>
    <div id="announce-list">
      <% for item in @items %>
          <%= render 'root/announce_item', item: item %>
      <% end %>
    </div>
    <% unless @random.nil? %>
        <div class="breadcrumb-new">
          <a href="/random">
            Some random new
          </a>
        </div>
        <div class="inline">
          <% for item in @random %>
              <%= render 'root/announce_item', item: item %>
          <% end %>
        </div>
        </div>
    <% end %>
    <%= render 'root/news' %>
    </div>